rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Les utilisateurs peuvent lire les données publiques des autres utilisateurs, mais ne peuvent écrire que dans leur propre document.
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == userId;
    }

    // Règles pour la collection 'groups'
    match /groups/{groupId} {
      // Autoriser l'accès en lecture uniquement aux membres du groupe.
      allow read: if request.auth != null && request.auth.uid in resource.data.members;

      // Autoriser la création de groupe pour tout utilisateur authentifié qui s'auto-désigne comme admin.
      allow create: if request.auth != null && request.auth.uid == request.resource.data.admin;

      // Autoriser les mises à jour uniquement par les membres du groupe sous des conditions spécifiques.
      allow update: if request.auth != null && request.auth.uid in resource.data.members;
      
      // Autoriser la suppression uniquement par l'administrateur du groupe et uniquement si le groupe est en attente.
      allow delete: if request.auth != null && request.auth.uid == resource.data.admin && resource.data.status == 'En attente';
    }
  }
}
