rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read other users' public data, but can only write to their own document.
    match /users/{userId} {
      allow read: if request.auth != null;
      // Allow user to create their own document or update it.
      allow write: if request.auth.uid == userId;
    }

    // Rules for the 'groups' collection
    match /groups/{groupId} {
      // Allow read access only to members of the group.
      allow read: if request.auth != null && request.auth.uid in resource.data.members;

      // Allow group creation for any authenticated user.
      allow create: if request.auth != null && request.auth.uid == request.resource.data.admin;

      // Allow updates only by members of the group under specific conditions.
      allow update: if request.auth != null && request.auth.uid in resource.data.members;
      
      // Allow deletion only by the group's administrator and only if the group is 'En attente'.
      allow delete: if request.auth != null && request.auth.uid == resource.data.admin && resource.data.status == 'En attente';
    }
  }
}